/* Container for the update form */
.predictor-container {
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.predictor-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

/* Grid layout for the form fields */
.predictor-container .input-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto adjust columns */
  gap: 20px;
  width: 100%;
}

/* Each field in the form */
.predictor-container .input-item {
  display: flex;
  flex-direction: column; /* Stack the label and input vertically */
  gap: 10px;
  width: 100%; /* Ensure it takes up the full width within the grid */
  align-items: center; /* Center the content horizontally */
}

/* Label styling */
.predictor-container .label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center; /* Center the label text */
  width: 100%; /* Ensure label takes up full width */
}

/* Input field styling */
.predictor-container .input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 80%; /* Adjust width of the input field */
  box-sizing: border-box; /* Prevent padding from affecting width */
  background-color: #fff;
  text-align: center; /* Center the text inside the input box */
}

.predictor-container .input:disabled {
  background-color: #f0f0f0; /* Light background color for disabled inputs */
}


.predict-button:disabled {
  background-color: #cccccc; /* Grey background when disabled */
  cursor: not-allowed; /* Change the cursor to show it's disabled */
}
/* Prediction button styling */
.predict-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.predict-button {
  background-color: #4CAF50; /* Green background for the enabled button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.predict-button:hover {
  background-color: #0056b3;
}

/* Modal styling */
.predictor-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.predictor-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-width: 800px;
  text-align: center;
}
.predictor-metadata-table {
  margin-bottom: 20px;
}
.predictor-metadata-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.predictor-metadata-table th, .predictor-metadata-table td {
  padding: 12px;
  border-radius: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.predictor-metadata-table th {
  background-color: rgb(216, 210, 210);
  font-weight: 600;
}
.predictor-metadata-table td {
  background-color: #fafafa;
}
.predictor-modal-content h2 {
  margin-bottom: 20px;
}

.close-modal {
  padding: 10px 20px;
  background-color: #FF6347;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #cc4d3a;
}

/* Error message styling */
.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
