/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
.button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #007bff; /* Default color */
    color: white; /* Text color for active buttons */
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  .default-style {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #a9c4e0; /* Default color */
    color: white; /* Text color for active buttons */
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
  .err-msg {
    color: hsl(0, 89.5%, 37.5%);
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: hsl(0, 26.8%, 86.1%);
  }
  .button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    /* justify-content: center; Center the buttons horizontally */
    flex:1
  }
  .role-container {
    display: flex;
    align-items: center; /* Align text and buttons vertically */
    gap: 10px; /* Space between "Role:" and the buttons */
    width: 100%; /* Ensures the buttons stretch properly */
  }
  
  .label {
    font-size: 16px;
    font-weight: bold;
  }
  